html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%; 
}
body {
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
body > * {
    /* outline: 1px solid cornflowerblue; */
}
.navText {
    outline: 1px solid red;
    background-color: aliceblue;
    text-align: center;
}
.buttonContainer {
    text-align: center;
}
.displayContainer {
    text-align: center;
}
.quoteDisplay {
    height: 30px;
    font-size: 18px;
}
